body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #E8F5E9;
    height: 100vh;
}

h1 {
    color: #002F6C; /* 성균관대학교 남색 */
    margin-top: 20px;
}

.chat-container {
    width: 60%;
    max-width: 800px;
    height: 80%;
    border: 2px solid #004b87; /* 성균관대학교 남색 */
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #e9f5f0; /* 성균관대학교 초록색 */
}

.message {
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 5px;
}

.message.user {
    text-align: right;
    background-color: #cde4db; /* 성균관대학교 초록색 */
    border: 1px solid #a3d2c4; /* 성균관대학교 초록색 테두리 */
}

.message.bot {
    text-align: left;
    background-color: #f1f5f9; /* 연한 남색 배경 */
    border: 1px solid #d1dfe8; /* 성균관대학교 남색 테두리 */
}

.input-container {
    display: flex;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    transition: border-color 0.3s;
}

.input-container input:focus {
    border-color: #004b87; /* 성균관대학교 남색 */
}

.input-container button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745; /* 초록색 */
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-container button:hover {
    background-color: #218838; /* 초록색 */
}
